<h1 class="mt-4">Members</h1>
<p class="lead mb-3">Welcome Members Signed in Page </p>
<!-- <a href="/users/logout" class="btn btn-secondary">Logout</a> -->

<h2>Rencently Added Books</h2>
<div>
    <% books.forEach(book => { %> 
        <a href="/books/<%= book.id %>">
            <img height="150" width="100" src="<%= book.coverImagePath %> ">
        </a>
    <% }) %>
</div>